.gpt-chat-settings {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gpt-chat-settings_items {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.gpt-chat-settings_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
}